{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img style="object-fit: contain" src="https://raw.githubusercontent.com/bugsounet/MMM-Weather/master/logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <span class="navbar-item">
                    Quel temps fait-il?
                </span>
            </div>
        </div>
    </nav>

    <div style="height: 100vh" class="container is-fluid is-flex is-justify-content-center is-align-items-center has-background-dark">

        <div class="is-flex has-text-white is-flex-direction-column is-justify-content-center is-align-items-center">
            <h1 class="has-text-primary mb-4">
               {{ city }}
            </h1>

            <img src="http://openweathermap.org/img/wn/{{ data.icon }}@2x.png" alt="">
            
            <h3 class="mb-2">{{ data.description }}</h3>
            <h4 class="mb-2">Température : {{ data.temperature }}°</h4>
            <h5>Humidité : {{ data.humidity }}</h5>
            <div class="field mt-5 is-flex is-flex-direction-column is-justify-content-center">
                {{ form_start(form) }}
                <div class="control">
                    {{ form_widget(form.city, { 'attr' : { 'class' : 'input has-text-centered' } }) }}
                </div>

                <div class="control is-flex is-flex-direction-column is-justify-content-center mt-2">
                    {{ form_widget(form.voir, { 'attr' : { 'class' : 'button is-primary is-large' } }) }}
                </div>
                {{ form_end(form) }}
            </div>

        </div>


    </div>

{% endblock %}
